@import "palette";
@import "vars";

.plugin-utils {

  .utils-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      cursor: pointer;
      padding: $margin-s $margin-xs;

      &.selected {
        color: palette(White, 500);
        background-color: palette(Blue, 500);
      }
    }
  }
}