@import "palette";
@import "vars";

.plugin-utils {

  .basic-hint {
    color: palette(Amber, 900);
  }

  .caution {
    border: 1px dashed palette(Red, 500);
    background-color: palette(Red, 50);
    padding: $margin-s;
  }

  .util-body {
    .caution{
      margin-bottom: $margin-l;
    }
  }

  .stats {
    margin: $margin-l 0;

    .stats-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: baseline;
      align-content: flex-start;
    }

    .stats-item {
      flex: 0 1 auto;
      margin-right: $margin-l;

      span {
        display: block;
        text-align: center;

        &.value {
          font-size: 3em;
          font-weight: 300;
        }
      }
    }
  }

  .utils-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      cursor: pointer;
      padding: $margin-s $margin-xs;

      &.selected {
        color: palette(White, 500);
        background-color: palette(Blue, 500);
        padding-left: $margin-s;
      }
    }
  }
}